.App {
  position: relative;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  max-width: 100%;
  overflow-x: hidden; 
}
.gameboard-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0 80px;
}
.gameboard-wrapper h1 {
  text-transform: uppercase;
  color: #333;
}
.gameboard {
  position: relative;
  width: 480px;
  padding: 22px;
  border: 2px solid #333;
  border-radius: 4px;
  display: flex;
  align-self: center;
  flex-direction: column;
  background-color: #eee;
}
.selector-wrapper {
  position: absolute;
  top: 0;
  left: -100px;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #eee;
}
.guess-spot, .selector-spot {
  border: 2px solid #333;
  height: 50px;
  width: 50px;  
  border-radius: 50%;
}
.selector-spot {
  margin: 10px 0;
}
.guess-spot {
  margin: 0 12px;
}
.color-1 { background-color: #E84C30; }
.color-2 { background-color: #4A38FF; }
.color-3 { background-color: #FFF; }
.color-4 { background-color: #444; }
.color-5 { background-color: #36A156; }
.color-6 { background-color: #FFF778; }
.row {
  position: relative;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 8px 14px;
  margin-bottom: 20px;
  display: flex;
  background-color: #fff;
}
.row:last-of-type {
  margin-bottom: 0;
}
.guess-spots {
  width: 70%;
  margin-right: 2%;
  padding-right: 8%;
  display: flex;
  justify-content: center;
  border-right: 2px solid #333;
  align-items: center;
}
.key-spots {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.key-row {
  display: flex;
  justify-content: flex-end;
}
.guess-spot, .key-spot {
  background-color: #ccc;
  /* box-shadow: inset 2px -2px 10px #555; */
}
.key-spot {
  border: 2px solid #333;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}
.row-label {
  position: absolute;
  top: 7px;
  left: 7px;
}
